{
"dataverse_api_key":"",
"dataverse_api_host":"https://dataverse.tdl.org",
"test":"False",
"showdatasetdetails":"True",
"showdataretentionscoredetails":"True",
"institutionaldataverse":"utexas",
"institutionname":"University of Texas at Austin",
"paginationlimit":1000,
"pageincrement":1,
"pagesize": 200,
"unpublisheddatasetreviewthresholdinyears":1,
"publisheddatasetreviewthresholdinyears":2,
"unpublisheddatasetreviewthresholdingb":1,
"publisheddatasetreviewthresholdingb":2,
"mitigatingfactormincitationcount":1,
"mitigatingfactormindownloadcount":1,
"mitigatingfactorfundedresearch":"True",
"processunpublisheddatasets":"True",
"processpublisheddatasets":"False",
"processdeaccessioneddatasets":"False"
}
